<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{cs/fragments/layout}"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">




<th:block layout:fragment="content">

    <div class="container">
        <section id="cs">
            <br>
            <br>
            <div class="main" id="qnaList-main">
                <div class="col-lg-3 col-md-5">
                    <div class="sidebar">
                        <div class="sidebar__item">
                            <h4>FAQ</h4>
                            <ul>
                                <li><a th:href="@{/cs/faq/list(group='faq', cate=21)}">고객서비스</a></li>
                                <li><a  th:href="@{/cs/faq/list(group='faq', cate=22)}">입양/분양</a></li>
                                <li><a  th:href="@{/cs/faq/list(group='faq', cate=23)}">공통</a></li>
                            </ul>
                        </div>
                    </div>
                </div>




               <section class="qna" id="qnaList-section">
                   <div class="section-title product__discount__title">
                            <h2><a th:href="@{/cs/faq/list(group=${pageResponseDTO.group}, cate=${pageResponseDTO.cate})}" class="btnTotal">[[${pageResponseDTO.dtoList[0].cateName}]]</a></h2>
                   </div>

                   <div class="accordion" id="accordionExample">

                       <div class="card" th:each="article, num : ${pageResponseDTO.dtoList}">
                           <button class="btn btn-link" type="button" data-toggle="collapse" th:data-target="'#collapse' + ${num.index}" aria-expanded="true" th:aria-controls="'collapse' + ${num.index}" style="text-decoration: none">
                               <div class="card-header" th:id="'heading' + ${num.index}">
                                   <h5 class="mb-0">
                                           [<span>[[${article.typeName}]]</span>]&nbsp; [[${article.title}]]
                                   </h5>
                               </div>
                           </button>
                           <!-- class="collapse show" 되있던 거 show 빼니까 화면출력할 때 닫힌 상태로 나옴 -->
                           <div th:id="'collapse' + ${num.index}" class="collapse" th:aria-labelledby="'heading' + ${num.index}" data-parent="#accordionExample">
                               <div class="card-body">
                                   [[${article.content}]]
                               </div>
                           </div>
                       </div>
                   </div>

                   <div class="product__pagination" id="qnaList-page">
                       <!-- 페이징 옮길때 group,cate 파라미터 받았던 값 그대로 사용 -->
                       <span th:if="${pageResponseDTO.prev}"> <!-- span 태그는 기본 display:inline-block 나란히 -->
                                        <a th:href="@{/cs/faq/list(group=${pageResponseDTO.group}, cate=${pageResponseDTO.cate}, pg=${pageResponseDTO.start - 1})}">
                                           <i class="fa fa-long-arrow-left"></i>
                                       </a>
                               </span>

                       <span th:each="num : ${#numbers.sequence(pageResponseDTO.start, pageResponseDTO.end)}">
                                       <a th:href="@{/cs/faq/list(group=${pageResponseDTO.group}, cate=${pageResponseDTO.cate}, pg=${num})}">[[${num}]]</a> <!-- num 변수(페이지번호) 이렇게 반복하네 -->
                               </span>

                       <span th:if="${pageResponseDTO.next}">
                                       <a th:href="@{/cs/faq/list(group=${pageResponseDTO.group}, cate=${pageResponseDTO.cate}, pg=${pageResponseDTO.end + 1})}">
                                           <i class="fa fa-long-arrow-right"></i>
                                       </a>
                               </span>
                   </div>


               </section>
            </div>



            <!-- bootstrap 기존 설정은 안 건드리는 게 좋음(css 때문에) -->
        </section>
    </div>
</th:block>

</html>